/*
* GLOBAL STYLES
*/

html,
body {
    display: flex;
    flex-direction: column;
    height: 100% !important;
    font-family: 'Open Sans', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif !important;
}

.navbar {
    padding: 1em 5em;
    background-color: #113F67 !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar .navbar-brand {
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    font-family: 'Merriweather', serif;
}

.navbar .nav-item {
    padding-left: 1em;
    cursor: pointer;
}

.navbar .nav-item a {
    transition: all 0.2s ease-in;
}

.navbar .nav-item.active a {
    color: white !important;
}

main {
    padding-top: 6em;
}

.btn.btn-primary {
    background-color: #87C0CD !important;
    border-color: #87C0CD !important;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.2s ease-in;
}

.btn.btn-primary:hover {
    background-color: rgb(118, 167, 179) !important;
    border-color: rgb(118, 167, 179) !important;
}

.btn.btn-secondary {
    background-color: #226597 !important;
    border-color: #226597 !important;
    transition: all 0.2s ease-in;
}

.btn.btn-secondary:hover {
    background-color: #1a4f77 !important;
    border-color: #1a4f77 !important;
}

.help-block {
    color: #dc3545;
    font-size: 0.8em;
}

.has-error input {
    border-color: #dc3545 !important;
}

.alert {
    font-size: 0.8em;
    padding: 0.8em !important;
}

.alert i {
    margin-right: 0.5em;
}

.login-container>div {
    margin-top: 3em;
}

.login-container img {
    height: 25em;
}

@media (max-width: 767.98px) {
    .login-container img {
        width: 100%;
        align-self: center;
    }
}

.login-container h2 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 700;
    color: #113F67;
    font-size: 1.5em;
}

footer {
    text-align: center;
    font-size: 0.9em;
    padding: 3em 0 0.4em 0;
    color: #113F67;
}

/*
* ARTICLE
*/

.card a .card-title {
    font-weight: 700;
    color: black;
}

.card a {
    text-decoration: none !important;
}

.card .card-subtitle {
    font-weight: 400;
}

.card .badge {
    background-color: #87C0CD;
    padding: 0.5em 1em;
    margin: 0 0 1.5em 0 !important;
}

.article-form img {
    padding: 0 1em;
    width: 100%;
}