<div class="row">
    <div class="col-lg-9 col-md-8 col-sm-12">
        <div class="alert alert-success alert-dismissible fade show" role="alert" ng-show="articleToDelete.success">
            Article deleted with success!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" ng-show="articleToDelete.error">
            There was an error deleting this article.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-columns" id="col-number">
            <div class="card" ng-repeat="article in articles | filter : search | filter: { category : category }">
                <a href="#!/article/{{article.id}}">
                    <img ng-src="{{ 'data:' + article.thumbnail_media_type + ';base64,' + article.thumbnail_image }}"
                        class="card-img-top" alt="{{article.title}}">
                </a>
                <div class="card-body">
                    <span class="badge badge-pill badge-primary">{{article.category}}</span>
                    <a href="#!/article/{{article.id}}">
                        <h5 class="card-title">{{article.title}}</h5>
                    </a>
                    <h6 class="card-subtitle mb-2 text-muted">{{article.subtitle}}</h6>
                    <p class="card-text" ng-bind-html="article.abstract"></p>
                    <div ng-show="loggedUser">
                        <a class="btn btn-secondary btn-sm" href="#!/editArticle/{{article.id}}">Edit</a>
                        <button class="btn btn-secondary btn-sm" ng-click="toggleModal(article)">Delete</button>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Updated on {{article.update_date.slice(0,10)}}</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 d-none d-md-block">
        <twitter-timeline class="h-100">
            <a class="twitter-timeline" data-height="100%" href="https://twitter.com/guardian?ref_src=twsrc%5Etfw">
                Tweets by guardian
            </a>
        </twitter-timeline>
    </div>
</div>

<modal visible="showModal">
</modal>