<div class="row">
    <div class="col-md-8 col-sm-12">
        <div class="card-columns">
            <div class="card" ng-repeat="article in articles | filter : search | filter: { category : category }">
                <a ng-show="article.thumbnail_image != null" href="#!/{{article.id}}">
                    <img ng-src="{{ 'data:' + article.thumbnail_media_type + ';base64,' + article.thumbnail_image }}" class="card-img-top"
                        alt="{{article.title}}">
                </a>
                <div class="card-body">
                    <span class="badge badge-pill badge-primary">{{article.category}}</span>
                    <a href="#!/news-detail/{{article.id}}">
                        <h5 class="card-title">{{article.title}}</h5>
                    </a>
                    <h6 class="card-subtitle mb-2 text-muted">{{article.subtitle}}</h6>
                    <p class="card-text">{{article.abstract}}</p>
                    <div>
                        <button class="btn btn-secondary btn-sm" ng-click="">Edit</button>
                        <button class="btn btn-secondary btn-sm" ng-click="deleteArticle(article)">Delete</button>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Updated on {{article.update_date}}</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-sm-none d-md-block">
        <twitter-timeline class="h-100">
            <a class="twitter-timeline" data-height="100%" href="https://twitter.com/guardian?ref_src=twsrc%5Etfw">
                Tweets by guardian
            </a>
        </twitter-timeline>
    </div>
</div>